<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="theme-color" content="#424242">
  <link rel="preconnect" href="https://www.google-analytics.com" crossorigin/>
  <script type="text/javascript">
  if(window.location.hostname !== "localhost" && window.location.hostname !== "blog.localtest.me"){
      var loc = window.location.href+'';
      if (loc.indexOf('http://')==0){window.location.href=loc.replace('http://','https://');}
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-93925399-1', 'auto');
      ga('send', 'pageview');
  }
  </script>
  <script defer async src='https://www.google-analytics.com/analytics.js'></script>
  <script defer type="text/javascript" src="/assets/js/zepto.min.js"></script>
  <script defer type="text/javascript" src="/assets/js/jquery.magnific-popup.min.js"></script>
  <script defer type="text/javascript" src="/assets/js/app.js"></script>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
  <style type="text/css">{% capture inline_css %}{% include inline-styles.scss %}{% endcapture %}{{ inline_css | scssify }}</style>
</head>
