---
layout: default
---
<div class="tag-overview">
	<h1>Articles by tag: {{ page.tag }}</h1>
	<div class="list-group">
	    {% if site.tags[page.tag] %}
	        {% for post in site.tags[page.tag] %}
	        <a href="{{ post.url }}" class="list-group-item">{{ post.title }}</a>
	        {% endfor %}
	    {% else %}
	        <p>There are no posts for this tag.</p>
	    {% endif %}
	</div>
	<p>Thanks to <a href="http://www.minddust.com/post/tags-and-categories-on-github-pages/" alt="minddust">minddust</a></p>
</div>